<div class="bulsup-whole-page">
  <h2 class="title">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <dl>
      <dt class="bulsup-login">
        <%= f.label :email %>
      </dt>
      <dd class="bulsup-login-dd">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </dd>

      <dt class="bulsup-login">
        <%= f.label :password %>
      </dt>
      <dd class="bulsup-login-dd">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </dd>
    </dl>

    <% if devise_mapping.rememberable? %>
      <div class="remember_field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "次回から自動的にログインする" %>
      </div>
    <% end %>

    <div class="bulsup_login_field">
      <%= f.submit "ログイン", class: "login-btn" %>
      <div class="bulsup_login_link">
        <%= link_to "新規会員登録", sign_up_path, class: "bulsup-signup" %><br />
        <%= link_to "パスワードをお忘れですか?", new_password_path(resource_name), class: "bulsup-password" %>
      </div>
    </div>
  <% end %>
</div>

