<p>以下の項目を入力・選択してください。</p> 
<%= form_with  model: @user_info, url: calculate_url, method: :post do |f| %>
    <% if @user_info.errors.any? %>
        <ul>
            <% @user_info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="field">
        <%= f.label :sex, '性別' %>
        <%= f.radio_button :sex, '男性', id: "male" %>
        <%= f.label :sex_male, '男性', for: "male" %>
        <%= f.radio_button :sex, '女性', id: "female" %>
        <%= f.label :sex_female, '女性', for: "female" %>
    </div>

    <div lass="field">
        <%= f.label :age, "年齢" %><br> 
        <%= f.text_field :age %><span>歳</span>
    </div>

    <div lass="field">
        <%= f.label :height, "身長" %><br> 
        <%= f.text_field :height %><span>cm</span>
    </div>

    <div lass="field">
        <%= f.label :weight, "体重" %><br> 
        <%= f.text_field :weight %><span>kg</span>
    </div>

    <div lass="field">
        <%= f.label :activity_amount, "1日の活動レベル" %><br> 
        <% @activity_levels.each do |activity_level| %>
            <%= f.radio_button :activity_level, activity_level.id, id: "activity_#{activity_level.id}" %>
            <%= f.label :activity_level, for: "activity_#{activity_level.id}" do %>
                <%= activity_level.level %>
                <span><%= activity_level.activity %></span>
            <% end %><br>
        <% end %>
    </div>

    <div lass="field">
        <%= f.label :peirod_of_gaining_weight, "増量期間" %><br> 
        <%= f.date_field :start_date %>から<%= f.date_field :end_date %>まで
    </div>

    <div lass="field">
        <%= f.label :weight_to_gain, "目標増量" %><br> 
        <%= f.text_field :weight_to_gain %>kg 増やしたい
    </div>

    <div lass="field"> 
        <%= f.submit "計算する" %>
    </div>
<% end %>
